<div class="card shadow-effect mx-auto">
  <div class="card-body">
    <div class=" text-center mt-3 mb-5 mt-5">
      <h3>SUSCRIPTION FORM</h3>
      <p class="mt-auto subs-text" >Suscribanse perras</p>
      <form class="row mb-5">

        <div class="form-group col-lg-5 col-md-12">
          <input type="text" placeholder="tu nombre perra" class="form-control shadow-effect">
        </div>
        <div class="form-group col-lg-5 col-md-12">
          <input type="email" placeholder="email@perra.com" class="form-control shadow-effect">
        </div>

        <div class=" col-lg-2 col-md-12">
          <button class="btn btn-warning btn-block btn-sub shadow-effect" >SUBSCRIBANSE HDP</button>
        </div>
      </form>
    </div>
  </div>
</div>
