<div class="card my-5 pb-5 shadow-effect">
  <div class="card-body">
    <h3 class="py-3">Comments (17.966)</h3>

    <div class="comment-box mt-3">
      <h6 class="mb-0">John Doe</h6>
      <small>LAST UPDATE - APR 20, 2023</small>

      <div class="my-3">
        Luffy is amazing, he is made of rubber, and he is very strong.
      </div>

      <a href="#" class="m-4" >Replic </a>
      <a href="#" class="mt-1 ml-3" > View Replic</a>

      <hr>

    </div>

    <div class="comment-box mt-3">
      <h6 class="mb-0">John Doe</h6>
      <small>LAST UPDATE - APR 20, 2023</small>

      <div class="my-3">
        Luffy is amazing, he is made of rubber, and he is very strong.
      </div>

      <a href="#" class="m-4" >Replic </a>
      <a href="#" class="mt-1 ml-3" > View Replic</a>

      <hr>

    </div>

    <div class="comment-box mt-3">
      <h6 class="mb-0">John Doe</h6>
      <small>LAST UPDATE - APR 20, 2023</small>

      <div class="my-3">
        Luffy is amazing, he is made of rubber, and he is very strong.
      </div>

      <a href="#" class="m-4" >Replic </a>
      <a href="#" class="mt-1 ml-3" > View Replic</a>

      <hr>

    </div>

  </div>
</div>
