<section class="featured-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 text-center mt 5">
        <h2> Featured Post</h2>
        <p>Estos son los post más posteados</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-3 mt-3">
        <app-post-card></app-post-card>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 mt-3">
        <app-post-card></app-post-card>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 mt-3">
        <app-post-card></app-post-card>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 mt-3">
        <app-post-card></app-post-card>
      </div>
    </div>
  </div>
</section>

<section class="container mt-5">
  <div class="col-12 text-center">
    <h2>Últimos Posts</h2>
    <p>Estos son los post más posteados de los últimos tiempos</p>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 mt-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 mt-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 mt-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 mt-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 mt-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 mt-3">
      <app-post-card></app-post-card>
    </div>
  </div>
</section>
