<div class="container text-dark">
  <div class="row">
    <div class=" col-sm-12 col-md-8 col-lg-9 ">
      <div class="card shadow-effect">
        <img
          src="https://elcomercio.pe/resizer/To9eUIZU3GfQGKPKL9ABOhJY7dY=/1200x800/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/37OWRM2CLBAE7BP5SXKLVMNHZE.jpg"
          alt="Rey pirata" class="card-img-top img-fluid">
        <div class="card-body">
          <small class="bg-light text-dark text-center"> Rey Pirata </small>
          <small class="bg-light text-dark text-center"> Zoan </small>
          <small class="bg-light text-dark text-center"> Haki </small>
          <small class="bg-light text-dark text-center"> Dios </small>

          <h1 class="mt-3 mb-3">Luffy inicio su viaje desde el east blue y conquistar la grand line </h1>
          <p>
            La historia de Monkey D. Luffy en One Piece es una de las más fascinantes en el mundo del anime y el manga.
            Luffy es el protagonista de la serie y su viaje desde el East Blue hasta la Grand Line es un relato lleno de
            aventuras emocionantes, momentos emotivos y personajes inolvidables.

            Cuando Luffy comenzó su viaje en el East Blue, su objetivo era convertirse en el Rey de los Piratas y
            encontrar el tesoro más grande del mundo, conocido como el One Piece. A lo largo del camino, se enfrentó a
            numerosos desafíos y enemigos poderosos. Sin embargo, con la ayuda de sus amigos y su propia habilidad, pudo
            superarlos y continuar avanzando hacia su objetivo final.

            En su camino hacia la Grand Line, Luffy y su tripulación se encontraron con algunos de los personajes más
            memorables de One Piece, como el navegante Nami, el espadachín Zoro, el cocinero Sanji, la arqueóloga Nico
            Robin, entre otros. Cada uno de estos personajes tenía habilidades y personalidades únicas que contribuyeron
            al éxito de la tripulación.

            La habilidad principal de Luffy es su capacidad para estirarse como una goma, lo que le permite tener una
            gran
            flexibilidad y fuerza en la lucha. Además, Luffy ha desarrollado diferentes técnicas de combate, como la
            técnica Gear Fourth, que le permite aumentar aún más su fuerza y velocidad.

            A medida que Luffy avanzaba hacia la Grand Line, se encontró con algunos de los enemigos más fuertes que
            había
            enfrentado hasta entonces, como el Shichibukai Crocodile, el Almirante Aokiji y el Yonkou Big Mom. Sin
            embargo, con la ayuda de su tripulación y su propia determinación, Luffy logró vencerlos y continuar
            avanzando
            hacia su objetivo.

            En resumen, la historia de Monkey D. Luffy en One Piece es una emocionante aventura llena de acción, emoción
            y
            personajes memorables. Su viaje desde el East Blue hasta la Grand Line es una historia de perseverancia y
            amistad, y ha inspirado a muchos fans de todo el mundo.
          </p>
        </div>
      </div>

      <app-comment-form></app-comment-form>

    </div>
    <div class="col-sm-12 col-md-4 col-lg-3">
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
    </div>


  </div>
</div>
